<!-- This is where the user leaves their dashbord to take a quiz and selects either 'student', 'professional' or 'personal' -->
<!-- category page grid-->
<div class="categories">
	<div class="col4 logo center"><h1>I NEED A SHE-ROE</h1></div>
	<div class="header_line"></div>
	<div ng-show="categoryTitle" class="col8 page_title center"><h1>What kind of amazing lady are you today?<h1></div>
	<section class="category_container"> <!--This is the container that holds all of the buttons-->
	<!-- DO NOT deleted 'ng-repeat' and 'ng-click' -->
	<div ng-repeat="category in categories">
		<button ng-click="categoryBtn(category.id)" ng-model="categoryId" ng-show="categoryShow" class="col6 category_btn center cat_margin"><h3>{{ category.name }}</h3>
		</button>
	</div>

	<div ng-show="issueTitle" class="col8 page_title">
		<h2>What kind of issue are you having?<h2>
	</div>
	<div ng-repeat="issue in issues">
		<button ng-click="issueBtn(issue.id)" ng-show="issueShow" class="col6 category_btn center cat_margin">
		<h3>{{ issue.name }}</h3>
		</button>
	</div>
	<div class="results_container">
		<div ng-repeat="inspiration in inspirations">
			<div class="col8 center">
				<h2>Be Inspired.</h2>
			</div>
			<div class="result_name">
				<h3>by  {{ inspiration.name }}</h3>
			</div>
			<div class="photo_quote_container">
				<div class="result_photo">
					<img ng-src="{{ inspiration.image }}">
				</div>
				<div class="col8 result_quote">
					<p id="quote_align">{{ inspiration.quote }}</p>
				</div>
				<div class="footer_line"></div>
			</div>
		</div>
	</div>
	</section>
<section class="footer">
	<div class="col5 powered_by center"><p>Powered By: Amazing Ladies</p></div>
	<!--<div class="col2 back_top_btn">Back To Top</div>-->
</div>
</section>
</div>