<!-- This is where the user leaves their dashbord to take a quiz and selects either 'student', 'professional' or 'personal' -->

<!-- category page grid-->

<div class="wrapper">
<section class="row header">
<div class="col4 logo">AWESOME APP NAME</div>
</section>
 <section class="row">
   <div class="col12 page_title">What kind of amazing lady are you today?</div>
 </section>
 <section class="row container">
   <div class="col10 category_btn">
   	<button type="button">STUDENT</button>
   </div>
   <div class="col10 category_btn">
   	<button type="button">PROFESSIONAL</button>
   </div>
   <div class="col10 category_btn">
   <button type="button">PERSONAL</button>
   </div>
 </section>
 <section class="row footer">
   <div class="col5 powered_by">Powered By: Amazing Ladies</div><!--
 --><div class="col2 back_top_btn">Back To Top</div>
 </div>
 </section>
</div>