<!-- This is where the user leaves their dashbord to take a quiz and selects either 'student', 'professional' or 'personal' -->

<!-- category page grid-->

<div class="wrapper categories">
	<div class="col4 logo center"><h2>AWESOME APP NAME</h2></div>
   <div class="col10 page_title center"><h1>What kind of amazing lady are you today?<h1></div>
 <section class="row category_container"> <!--This is the container that holds all of the buttons-->

 <!-- DO NOT deleted 'ng-repeat' and 'ng-click' -->

   	<div ng-repeat="category in categories">
	   	<button ng-click="studentBtn(category)" class="col8 category_btn center"><h3>{{ category.name }}</h3>
	   	</button>
	   		<div ng-repeat="issue in issues">
	   			<button ng-click="issueBtn(issue)" class="col8 category_btn center"><p>{{ issue.name }}</p></button>
	   			<div class="row results_container">
	   				<div ng-repeat="inspiration in inspirations">
	   				<div class="col8 result_name"><h3>{{ inspiration.name }}</h3></div>
	   				<div class="photo_quote_container">
	   				<div class="col6 result_photo"><img ng-src="{{ inspiration.picture }}">
	   				</div>
	   				<div class="col10 result_quote"><p>{{ inspiration.quote }}</p></div>
	   				</div>
	   				</div>
	   			</div>
	   		</div>
   	</div>
 </section>
 <section class="row footer">
   <div class="col5 powered_by center">Powered By: Amazing Ladies</div>
 <!--<div class="col2 back_top_btn">Back To Top</div>-->
 </div>
 </section>
</div>

<!-- <button ng-click="issueBtn(issue)" type="button">{{ issue.name }}</button>
	   				<div ng-repeat="inspiration in inspirations">{{ inspiration.picture }} {{ inspiration.name }} {{ inspiration.quote }}
	   				</div> -->