<!-- This is the grid structure for dashboard -->

<div class="wrapper">
  <section class="row"><div class="col3 login_btn">3</div><!--
  --><div class="col6 logo">6</div></section><!--
  --><div class="col10 quiz_btn">10</div><!--
  --><div class="col10 add_btn">10</div><!--
  --><div class="col4 ladies_library">4</div><!--
  --><div class="col10 ladies">10</div><!--
  --><section class="row">
      <div class="col4">4</div><!--
    --><div class="col4">4</div>
    </section>
  <div class="col5">5</div><!--
  --><div class="col2">2</div>
  </div>
  