<!-- This is where the user lands once they've chosen a category, and must select an issue to take the quiz -->

<!-- issues grid -->

<div class="wrapper">
<div class="col4 logo">Awesome App Name</div>
  <section class="row">
    <div class="col12 page_title">What is it that you're dealing with?</div>
  </section>
  <section class="row container">
    <div class="col8 category_btn center">issue 1</div><!--
    --><div class="col8 category_btn center">issue 2</div>
  </section>
  <section class="row footer">
    <div class="col5 powered_by">Powered By: Amazing Ladies</div><!--
  --><div class="col2 back_top_btn">Back To Top</div>
  </div>
  </section>
</div>