<!-- After taking the quiz, this is the output of the quiz and displays an inspiration -->
<!-- This is the grid structure for dashboard -->

<div class="wrapper results">
  <div class="col4 logo center">APP TITLE</div>
  <div class="col10 center">RESULTS NAME</div>
  <section class="row container">
      <div class="col6 result_photo center">IMAGE</div><!--
    --><div class="col4 quote center">QUOTATION</div>
    </section>
  <section class="row footer">
    <div class="col5 powered_by center">Powered By: Kate, Erika & Dawn</div>
  <!--<div class="col2 back_top_btn">Back To Top</div>-->
  </section>
  </div>