<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>Hi there</p>
<div ui-view>
</div>

<nav id="navigation">

    <div class="menu">
      <a href="#" ui-sref="play">Play</a>
      <a href="#" ui-sref="leaderboard">Leaderboard</a>
      <a href="#" ui-sref="settings">Settings</a>
      <a href="#" ui-sref="home">Home</a>
    </div>

</nav>