<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>Test</p>
<div ng-app="app">
	<div ng-controller="BasicCtrl">

		<h1>Welcome#index</h1>
		<p>Find me in app/views/welcome/index.html.erb</p>
		<button type="button">Logout</button>

		<div ui-view></div>

	</div>
</div>
