<div ng-app="app">

		<button type="button">Logout</button>

		<div class="menu">
          <a href="#" ui-sref="dashboard">Dashboard</a>
          <a href="#" ui-sref="inspiration">Inspiration</a>
          <a href="#" ui-sref="settings">Settings</a>
        </div>

		<div ui-view></div>

</div>

