<!DOCTYPE html>
<html>
<head>
  <title>Womenpower</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!--This is the meta viewport that allows devices to read media queries-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--This is the link to Typekit fonts -->
  <script src="//use.typekit.net/qib3znp.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  
</head>
<body>

<%= yield %>

</body>
</html>
