<!DOCTYPE html>
<html>
<head>
  <title>Womenpower</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

	<script src="javascripts/myapp/app.js"></script>
    <script src="javascripts/controllers/controllers.js"></script>
    <script src="javascripts/services/services.js"></script>
</body>
</html>
